#love_cal{
    height: 50px; 
    width: 75%;
}
#body{
    background-image: url(/pexels-mateus-souza-2494701.jpg ); 
    background-size: 50%;
}
#user_name{
    width: 100%;
    height: 50px; 
    outline: none; border: none; 
    border-bottom: thin solid red; 
    background-color: transparent;
}
#lover_name{
    width: 100%;
    height: 50px;
    outline: none;
    border: none; 
    border-bottom: thin solid red; 
    background-color: transparent;
}
.response{
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 200px;
}
 @media screen and (max-width:600px){
    body{
        width: 90%;
        background-size: 70%;

    }

} 
